.headerWrapper {
  margin-bottom: 15px;
  border-bottom: 0px solid grey;
  box-shadow: 0 3px 8px 1px rgb(199, 199, 199);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  padding: 30px;

  margin-right: auto;
  margin-left: auto;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: 30px;
}

.navList {
  font-weight: 700;
  font-size: larger;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: color 200ms linear;
}

.navList:hover:not(.active) {
  color: aquamarine;
}

.navList:not(:last-child) {
  margin-right: 30px;
}

.headerText {
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 5px rgb(144, 142, 142);
}
