.btnBack {
  border-radius: 5px;
  background-color: rgb(119, 224, 202);
  margin-bottom: 10px;
  margin-left: 10px;
}

.filmInfo {
  display: flex;
  margin-left: 10px;
}

.filmImg {
  margin-right: 20px;
}

.overview {
  padding-right: 20px;
}
