.searchingFilms {
  list-style: circle;
}

.searchingFilmsList:not(:last-child) {
  margin-bottom: 5px;
  padding: 4px;
}

.searchingFilmsLink {
  padding: 4px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: color 200ms linear, background-color 200ms linear;
}

.searchingFilmsLink:hover {
  color: rgb(214, 230, 124);
  background-color: blueviolet;
}
